<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>CreatePost</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Create Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>

      <% if (error) { %>
      <article class="errorBox"><%= error %></article>
      <% } %>

      <form method="POST" action="/posts/create">
        <label>
          Title
          <input
            type="text"
            name="title"
            required
            value="<%= formData?.title || '' %>"
          />
        </label>

        <label>
          Link
          <input
            type="url"
            name="link"
            placeholder="https://example.com"
            value="<%= formData?.link || '' %>"
          />
        </label>

        <label>
          Description
          <textarea name="description"><%= formData?.description || '' %></textarea>
        </label>

        <label>
          Subgroup
          <input
            type="text"
            name="subgroup"
            required
            placeholder="coding"
            value="<%= formData?.subgroup || '' %>"
          />
        </label>

        <button type="submit">Create Post</button>
      </form>
    </main>
  </body>
</html>
